<div class="tab-menu">
  <ul id="G8_map1">
    <li id="G8_kouti" class="selected">高地ドラヴァニア</li>
    <li id="G8_kuruzasu">クルザス西部</li>
    <li id="G8_doraunn">ドラヴァニア雲海</li>
    <li id="G8_abara">アバラシア雲海</li>
    <li id="G8_kanri">地図管理</li>
  </ul>

  <div class="contents">
    <div class="G8_kouti">
      <%= image_tag 'koutidora_map.jpg', :class => "G8_map", :size => "400x400" %>
      <%= image_tag 'koutidora_mini.jpg',:class => "G8_mini", :size => "650x450" %>
    </div>
    <div class="G8_kuruzasu">
      <%= image_tag 'kuruzasu_map.jpg', :class => "G8_map", :size => "400x400" %>
      <%= image_tag 'kuruzasu_mini.jpg',:class => "G8_kuruzasu_mini", :size => "650x320" %>
    </div>
    <div class="G8_doraunn">
      <%= image_tag 'doraunn_map.jpg', :class => "G8_map", :size => "400x400" %>
      <%= image_tag 'doraunn_mini.jpg',:class => "G8_mini", :size => "650x450" %>
    </div>
    <div class="G8_abara">
      <%= image_tag 'abara_map.jpg', :class => "G8_map", :size => "400x400" %>
      <%= image_tag 'abara_mini.jpg',:class => "G8_mini", :size => "650x450" %>
    </div>
    <div class="G8_kanri">
      <ul id="G8_map2">
        <li id="G8_kouti_kanri" class="selected">高地ドラヴァニア</li>
        <li id="G8_kuruzasu_kanri">クルザス西部</li>
        <li id="G8_doraunn_kanri">ドラヴァニア雲海</li>
        <li id="G8_abara_kanri">アバラシア雲海</li>
      </ul>

      <div class="contents_kanri">
        <div class="map_serect">
          <div class="G8_kouti_kanri">
            <%= image_tag 'kouti_A.jpg',:class => "G8_map_syousai", :size => "130x120" %>
            <%= image_tag 'kouti_B.jpg',:class => "G8_map_syousai", :size => "130x120" %>
            <%= image_tag 'kouti_C.jpg',:class => "G8_map_syousai", :size => "130x120" %>
            <%= image_tag 'kouti_D.jpg',:class => "G8_map_syousai", :size => "130x120" %>
            <%= image_tag 'kouti_E.jpg',:class => "G8_map_syousai", :size => "130x120" %>
            <%= image_tag 'kouti_F.jpg',:class => "G8_map_syousai", :size => "130x120" %>
            <%= image_tag 'kouti_G.jpg',:class => "G8_map_syousai", :size => "130x120" %>
            <%= image_tag 'kouti_H.jpg',:class => "G8_map_syousai", :size => "130x120" %>
            <%= image_tag 'kouti_I.jpg',:class => "G8_map_syousai", :size => "130x120" %>
          </div>
          <div class="G8_kuruzasu_kanri">
            <%= image_tag 'kuruzasu_A.jpg',:class => "G8_map_syousai", :size => "130x120" %>
            <%= image_tag 'kuruzasu_B.jpg',:class => "G8_map_syousai", :size => "130x120" %>
            <%= image_tag 'kuruzasu_C.jpg',:class => "G8_map_syousai", :size => "130x120" %>
            <%= image_tag 'kuruzasu_D.jpg',:class => "G8_map_syousai", :size => "130x120" %>
            <%= image_tag 'kuruzasu_E.jpg',:class => "G8_map_syousai", :size => "130x120" %>
            <%= image_tag 'kuruzasu_F.jpg',:class => "G8_map_syousai", :size => "130x120" %>
            <%= image_tag 'kuruzasu_G.jpg',:class => "G8_map_syousai", :size => "130x120" %>
          </div>
          <div class="G8_doraunn_kanri">
            <%= image_tag 'doraunn_A.jpg',:class => "G8_map_syousai", :size => "130x120" %>
            <%= image_tag 'doraunn_B.jpg',:class => "G8_map_syousai", :size => "130x120" %>
            <%= image_tag 'doraunn_C.jpg',:class => "G8_map_syousai", :size => "130x120" %>
            <%= image_tag 'doraunn_D.jpg',:class => "G8_map_syousai", :size => "130x120" %>
            <%= image_tag 'doraunn_E.jpg',:class => "G8_map_syousai", :size => "130x120" %>
            <%= image_tag 'doraunn_F.jpg',:class => "G8_map_syousai", :size => "130x120" %>
            <%= image_tag 'doraunn_G.jpg',:class => "G8_map_syousai", :size => "130x120" %>
            <%= image_tag 'doraunn_H.jpg',:class => "G8_map_syousai", :size => "130x120" %>
            <%= image_tag 'doraunn_I.jpg',:class => "G8_map_syousai", :size => "130x120" %>
          </div>
          <div class="G8_abara_kanri">
            <%= image_tag 'abara_A.jpg',:class => "G8_map_syousai", :size => "130x120" %>
            <%= image_tag 'abara_B.jpg',:class => "G8_map_syousai", :size => "130x120" %>
            <%= image_tag 'abara_C.jpg',:class => "G8_map_syousai", :size => "130x120" %>
            <%= image_tag 'abara_D.jpg',:class => "G8_map_syousai", :size => "130x120" %>
            <%= image_tag 'abara_E.jpg',:class => "G8_map_syousai", :size => "130x120" %>
            <%= image_tag 'abara_F.jpg',:class => "G8_map_syousai", :size => "130x120" %>
            <%= image_tag 'abara_G.jpg',:class => "G8_map_syousai", :size => "130x120" %>
            <%= image_tag 'abara_H.jpg',:class => "G8_map_syousai", :size => "130x120" %>
            <%= image_tag 'abara_I.jpg',:class => "G8_map_syousai", :size => "130x120" %>
            <%= image_tag 'abara_J.jpg',:class => "G8_map_syousai", :size => "130x120" %>
          </div>
        </div>

        <div class="show_map">
        </div>

      </div>

      <div class="user_kanri">
        </div>

    </div>
  </div>
</div>