<div class="maincontents clearfix">
  <div class="news">
    <%= image_tag 'news.png', :size => "140x60", :class => "daimei" %>
      <div class="news_contents">
        <p class="times">2016.08.05</p>
        <p class="news_naiyou">宝の地図G8に対応しました。</p>
        <p class="times">2016.08.05</p>
        <p class="news_naiyou">サイトをオープンしました。</p>
      </div>
  </div>

  <div class="contact">
    <%= image_tag 'contact.png', :size => "140x60", :class => "daimei" %>
      <div class="contact_contents">
        <p class="contact_naiyou">ご要望、お問い合わせがある場合は下記連絡先にお送りください。また、返信等は出来かねる場合が<br>ございますのでご了承ください。<br>dragon2tree@gmail.com</p>

        <div class="slideshow_contents">
          <p id="slideshow">
           <%= image_tag '1.jpg',:size => "430x270", :class => "active" %>
           <%= image_tag '2.jpg', :size => "430x270" %>
           <%= image_tag '3.jpg', :size => "430x270" %>

          </p>
        </div>
      </div>
  </div>

</div>