<div class="tab-menu">
  <ul id="G8_map1">
    <li id="G8_kouti" class="tab selected">高地ドラヴァニア</li>
    <li id="G8_kuruzasu" class="tab">クルザス西部</li>
    <li id="G8_doraunn" class="tab">ドラヴァニア雲海</li>
    <li id="G8_abara" class="tab">アバラシア雲海</li>
    <li id="G8_kanri" class="tab">地図管理</li>
  </ul>

  <div class="contents">
    <div class="G8_kouti">
      <%= image_tag 'koutidora_map.jpg', :class => "G8_map", :size => "400x400" %>
      <%= image_tag 'koutidora_mini.jpg',:class => "G8_mini", :size => "650x450" %>
    </div>
    <div class="G8_kuruzasu">
      <%= image_tag 'kuruzasu_map.jpg', :class => "G8_map", :size => "400x400" %>
      <%= image_tag 'kuruzasu_mini.jpg',:class => "G8_kuruzasu_mini", :size => "650x320" %>
    </div>
    <div class="G8_doraunn">
      <%= image_tag 'doraunn_map.jpg', :class => "G8_map", :size => "400x400" %>
      <%= image_tag 'doraunn_mini.jpg',:class => "G8_mini", :size => "650x450" %>
    </div>
    <div class="G8_abara">
      <%= image_tag 'abara_map.jpg', :class => "G8_map", :size => "400x400" %>
      <%= image_tag 'abara_mini.jpg',:class => "G8_mini", :size => "650x450" %>
    </div>
    <div class="G8_kanri">
      <ul id="G8_map2">
        <li id="G8_kouti_kanri" class="tab selected">高地ドラヴァニア</li>
        <li id="G8_kuruzasu_kanri" class="tab">クルザス西部</li>
        <li id="G8_doraunn_kanri" class="tab">ドラヴァニア雲海</li>
        <li id="G8_abara_kanri" class="tab">アバラシア雲海</li>
      </ul>

      <div class="contents_kanri">
        <div class="map_serect">
          <div class="G8_kouti_kanri">
            <%= image_tag 'kouti_A.jpg',:class => "G8_map_syousai", :id => "高地ドラヴァニアA", :size => "130x120" %>
            <%= image_tag 'kouti_B.jpg',:class => "G8_map_syousai", :id => "高地ドラヴァニアB", :size => "130x120" %>
            <%= image_tag 'kouti_C.jpg',:class => "G8_map_syousai", :id => "高地ドラヴァニアC", :size => "130x120" %>
            <%= image_tag 'kouti_D.jpg',:class => "G8_map_syousai", :id => "高地ドラヴァニアD", :size => "130x120" %>
            <%= image_tag 'kouti_E.jpg',:class => "G8_map_syousai", :id => "高地ドラヴァニアE", :size => "130x120" %>
            <%= image_tag 'kouti_F.jpg',:class => "G8_map_syousai", :id => "高地ドラヴァニアF", :size => "130x120" %>
            <%= image_tag 'kouti_G.jpg',:class => "G8_map_syousai", :id => "高地ドラヴァニアG", :size => "130x120" %>
            <%= image_tag 'kouti_H.jpg',:class => "G8_map_syousai", :id => "高地ドラヴァニアH", :size => "130x120" %>
            <%= image_tag 'kouti_I.jpg',:class => "G8_map_syousai", :id => "高地ドラヴァニアI", :size => "130x120" %>
          </div>
          <div class="G8_kuruzasu_kanri">
            <%= image_tag 'kuruzasu_A.jpg',:class => "G8_map_syousai", :id => "クルザス西部A", :size => "130x120" %>
            <%= image_tag 'kuruzasu_B.jpg',:class => "G8_map_syousai", :id => "クルザス西部B", :size => "130x120" %>
            <%= image_tag 'kuruzasu_C.jpg',:class => "G8_map_syousai", :id => "クルザス西部C", :size => "130x120" %>
            <%= image_tag 'kuruzasu_D.jpg',:class => "G8_map_syousai", :id => "クルザス西部D", :size => "130x120" %>
            <%= image_tag 'kuruzasu_E.jpg',:class => "G8_map_syousai", :id => "クルザス西部E", :size => "130x120" %>
            <%= image_tag 'kuruzasu_F.jpg',:class => "G8_map_syousai", :id => "クルザス西部F", :size => "130x120" %>
            <%= image_tag 'kuruzasu_G.jpg',:class => "G8_map_syousai", :id => "クルザス西部G", :size => "130x120" %>
          </div>
          <div class="G8_doraunn_kanri">
            <%= image_tag 'doraunn_A.jpg',:class => "G8_map_syousai", :id => "ドラヴァニア雲海A", :size => "130x120" %>
            <%= image_tag 'doraunn_B.jpg',:class => "G8_map_syousai", :id => "ドラヴァニア雲海B", :size => "130x120" %>
            <%= image_tag 'doraunn_C.jpg',:class => "G8_map_syousai", :id => "ドラヴァニア雲海C", :size => "130x120" %>
            <%= image_tag 'doraunn_D.jpg',:class => "G8_map_syousai", :id => "ドラヴァニア雲海D", :size => "130x120" %>
            <%= image_tag 'doraunn_E.jpg',:class => "G8_map_syousai", :id => "ドラヴァニア雲海E", :size => "130x120" %>
            <%= image_tag 'doraunn_F.jpg',:class => "G8_map_syousai", :id => "ドラヴァニア雲海F", :size => "130x120" %>
            <%= image_tag 'doraunn_G.jpg',:class => "G8_map_syousai", :id => "ドラヴァニア雲海G", :size => "130x120" %>
            <%= image_tag 'doraunn_H.jpg',:class => "G8_map_syousai", :id => "ドラヴァニア雲海H", :size => "130x120" %>
            <%= image_tag 'doraunn_I.jpg',:class => "G8_map_syousai", :id => "ドラヴァニア雲海I", :size => "130x120" %>
          </div>
          <div class="G8_abara_kanri">
            <%= image_tag 'abara_A.jpg',:class => "G8_map_syousai", :id => "アバラシア雲海A", :size => "130x120" %>
            <%= image_tag 'abara_B.jpg',:class => "G8_map_syousai", :id => "アバラシア雲海B", :size => "130x120" %>
            <%= image_tag 'abara_C.jpg',:class => "G8_map_syousai", :id => "アバラシア雲海C", :size => "130x120" %>
            <%= image_tag 'abara_D.jpg',:class => "G8_map_syousai", :id => "アバラシア雲海D", :size => "130x120" %>
            <%= image_tag 'abara_E.jpg',:class => "G8_map_syousai", :id => "アバラシア雲海E", :size => "130x120" %>
            <%= image_tag 'abara_F.jpg',:class => "G8_map_syousai", :id => "アバラシア雲海F", :size => "130x120" %>
            <%= image_tag 'abara_G.jpg',:class => "G8_map_syousai", :id => "アバラシア雲海G", :size => "130x120" %>
            <%= image_tag 'abara_H.jpg',:class => "G8_map_syousai", :id => "アバラシア雲海H", :size => "130x120" %>
            <%= image_tag 'abara_I.jpg',:class => "G8_map_syousai", :id => "アバラシア雲海I", :size => "130x120" %>
            <%= image_tag 'abara_J.jpg',:class => "G8_map_syousai", :id => "アバラシア雲海J", :size => "130x120" %>
          </div>
        </div>

        <div class="show_map">
          <ul>
            <%= render @memos %>
          </ul>
        </div>

      </div>

      <div class="user_kanri">
        <div class="form2">
          <%= form_for @memo, remote: true do |f| %>
            <span>選択：</span><%= f.text_field :text, :readonly => true %>
            <span>所有者：</span><%= f.text_field :name %>
            <%= f.submit '追加' %>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>